    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      font-family: sans-serif;
      background: linear-gradient(135deg, #0f172a 0%,  #1e1b4b 35%,  
      #312e81 65%,#7c3aed 90%,#ff4d6d 100%);
    }

     .container{
      display: flex;
      flex-direction: column;
       gap: 20px;   
}


    #input {
      padding: 5px 30px;
      border-radius: 20px;
      margin: 12px;
      font-size: 20px;
    }


.add{
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #312e81,
    #7c3aed
  );

  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;

  box-shadow:
    0 0 12px rgba(124, 58, 237, 0.45),
    0 0 30px rgba(59, 130, 246, 0.25);

  transition:
    background 0.35s ease,
    transform 0.25s ease,
    box-shadow 0.35s ease,
    border 0.35s ease;
}

.add:hover{
  background: linear-gradient(
    135deg,
    #4338ca,
    #a855f7,
    #ec4899
  );

  border: 1px solid rgba(255,255,255,0.3);

  transform:
    translateY(-1px)
    scale(1.05);

  box-shadow:
    0 0 18px rgba(168, 85, 247, 0.7),
    0 0 40px rgba(236, 72, 153, 0.35);
}

.add:active{
  transform: scale(0.98);
}


.inputBox{
  display: flex;
  align-items: center;
  width: 450px;
}

#taskDisplay{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task{
  padding: 3px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn, .doneBtn{
  display: flex;
}


.task.completed p{
  background-color: greenyellow;
  text-decoration: line-through;
  transition: 0.3s ease;
}
.task.completed{
  background-color: greenyellow;
}
