    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      font-family: sans-serif;
      background: linear-gradient(135deg, #0f172a 0%,  #1e1b4b 35%,  
      #312e81 65%,#7c3aed 90%,#ff4d6d 100%);
    }

     .container{
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;   
      background-color: rgb(84, 8, 98);
      border-radius: 12px;
    }


    #input {
      padding: 5px 30px;
      border-radius: 20px;
      margin: 12px;
      font-size: 20px;
    }


.add{
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #312e81,
    #7c3aed
  );

  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;

  box-shadow:
    0 0 12px rgba(124, 58, 237, 0.45),
    0 0 30px rgba(59, 130, 246, 0.25);

  transition:
    background 0.35s ease,
    transform 0.25s ease,
    box-shadow 0.35s ease,
    border 0.35s ease;
}

.add:hover{
  background: linear-gradient(
    135deg,
    #4338ca,
    #a855f7,
    #ec4899
  );

  border: 1px solid rgba(255,255,255,0.3);

  transform:
    translateY(-1px)
    scale(1.05);

  box-shadow:
    0 0 18px rgba(168, 85, 247, 0.7),
    0 0 40px rgba(236, 72, 153, 0.35);
}

.add:active{
  transform: scale(0.98);
}


.inputBox{
  display: flex;
  align-items: center;
  width: 450px;
}

.pTag{
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px rgb(19, 19, 91) solid;
  background-color: #E1EBEE;
}


.editedPTag{
    padding: 10px 14px;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    background:
    linear-gradient(#1d1d1d, #1d1d1d) padding-box,
    linear-gradient(
        135deg,
        #7c3aed,
        #3b82f6,
        #ec4899,
        #7c3aed
    ) border-box;

    background-size: 300% 300%;
    animation: borderFlow 6s ease infinite;

    box-shadow:
    0 0 10px rgba(124, 58, 237, 0.5),
    0 0 20px rgba(59, 130, 246, 0.25);
}

@keyframes borderFlow{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}



#taskDisplay{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.task{
  padding: 7px 5px;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  overflow: auto;
}

.deleteBtn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 7px 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px red inset;
}

.doneBtn{
  display: flex;
  background-color: #E1EBEE;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
  padding: 5px 15px;
}

.doneBtn:hover{
  background-color: #32de84;
  transform: translateY(2px) scale(1.05);
}


.task.completed p{
  /* background-color: greenyellow; */
  text-decoration: line-through;
  transition: 0.3s ease;
}

.task.completed .doneBtn{
  background-color: #32de84;  
}

.task.completed .deleteBtn {
  background-color:#ff0000;
  color: #fff;
}

.task.completed{
  background-color: #32de84;
}


.editBtn {

  background-color: green; /*inactive state*/
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3 ease;
}

.editBtn.active {
  background-color: #36A9AE; /*active state*/
}

.editBtn.active{
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.editBtn.active::before{
    content: '';
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.editBtn.active:active{
    color: #000;
}

.editBtn.active:active::after{
    background: transparent;
}

.editBtn.active::after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing{
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.editBtn:hover{
  transform: scale(1.03);
  transition: 0.3s;
}

#taskCount{
   position: relative;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: rgba(0, 0, 0, 0.84);
  border: 2px solid #646cff;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100px;
  margin: 8px;
}
